@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* Offset border */
.offset-border::after, .offset-border::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
   
}

/* Right border */
.offset-border::after{
    border-right: 22px solid #F4F037;
    top: 22px;
    right: -23px;
}

/* Left border */
.offset-border::before {
    border-bottom: 22px solid #F4F037;
    top: 23px;
    left: 22px;
}

/* hide by default */
/* #instructions-container, #question-container{
    display: none;
} */

/* temporary for testing */
/* #instructions-container, #welcome-container{
    display: none;
} */